{% extends "layout.html" %}

{% block title %}
    Create a New Post
{% endblock %}

{% block main %}
    <form action="/create" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="subject" placeholder="Subject" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="message" placeholder="What's up?" type="message">
        </div>
        <a href="allposts.html">Cancel</a>
        <button class="btn btn-primary" type="submit">Post</button>
    </form>
{% endblock %}
