{% extends "layout.html" %}

{% block main %}
{% block head %}{% endblock %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Likes</th>
      <th scope="col">Comments</th>
      <th scope="col">Posted on...</th>
      <th scope="col">Posted by...</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  {% for post in posts %}
  <tr>
    <td>
      <a href='/see_post/{{ post["id"] }}'>{{ post["title"] }}</a>
    </td>
    <td>
      {{ likes(post["id"]) }} likes
    </td>
    <td>
      {{ comments(post["id"]) }} comments
    </td>
    <td>
      {{ post["dt"] }}
    </td>
    <td>
      <a href='/usr/{{ post["usr_scrnm"] }}'>{{ post["usr_scrnm"] }}</a>
    </td>
    <td>
      <a href='/like/{{ post["id"] }}'>{{ isLiked(post["id"]) }}</a>
      {% if me == post["usr_id"] %}
        &nbsp;
        <a href="/delete/{{ post['id'] }}">Delete</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
