{% extends "layout.html" %}

{% block title %}
    All Posts
{% endblock %}

{% block main %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Posted on...</th>
      <th scope="col">Posted by...</th>
    </tr>
  </thead>

  {% for post in posts %}
  <tr>
    <td>
      <a href='/see_post/{{ post["id"] }}'>{{ post["title"] }}</a>
    </td>
    <td>
      {{ post["dt"] }}
    </td>
    <td>
      {{ post["usr_scrnm"] }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
